@use 'variables';

$font-sizes: (
  'sm': 0.875rem,
  'base': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
  'hero': 3rem
);

@mixin title-big {
  font-family: variables.$font-family;
  font-size: map-get($font-sizes, 'hero');
  font-weight: bold;
  line-height: 1.2;
} 